@charset "utf-8";

* {
    margin: 0px;
    font-family: Verdana, Tahoma, sans-serif
}

body {
    /* background shorthand
    color image position repeat [size] attachment */

    background: #ffffff url(imagens/transferir.jpg) center center no-repeat fixed;
    background-size: cover;
}

header {
    background-color: #000000;
    height: 90px;
    color: #ffffff;
    text-align: center;
    font-size: 1.2em;
    padding: 40px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

section {
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Sriracha', cursive;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    line-height: 35px;
}

div {
    display: inline-block;
    font-family: 'Sriracha', cursive;
    background-color: #0000007a;
    color: #ffffff;
}

#p {
    width: auto;
    height: auto;
    background-color: white;
}

#t{
    width: auto;
    height: auto;
    background-color: white;
}

#qi {
    width: auto;
    height: auto;
    background-color: white;
    padding-bottom: 90px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}